@if(!isMobileView) {
<div class="row">
  <div class="col1">
    <app-chart-menu [devices]="devices"
                    [measurements]="measTypes"
                    (selectedDevice)="onSelectedDevice($event)"
                    (selectedDevice2)="onSelectedDevice2($event)"
                    (measDate)="onMeasDate($event)"
                    (selectedMeasurement)="onSelectedMeasurement($event)"
                    (selectedMeasurement2)="onSelectedMeasurement2($event)">
    </app-chart-menu>
  </div>
  
  <div class="col2">
    <app-time-chart [chartData]="chartData">
    </app-time-chart>
  </div>

  <div class="col3">
    <app-chart-legend [chartData]="chartData">
    </app-chart-legend>
  </div>
</div>
} @else {

  <div class="singlecol">
    <app-time-chart [chartData]="chartData" [isMobile]="true">
    </app-time-chart>
  </div>

  <div class="singlecol">
    <app-chart-legend [chartData]="chartData">
    </app-chart-legend>
  </div>

  <div class="singlecol">
    <app-chart-menu [devices]="devices"
                    [measurements]="measTypes"
                    (selectedDevice)="onSelectedDevice($event)"
                    (selectedDevice2)="onSelectedDevice2($event)"
                    (measDate)="onMeasDate($event)"
                    (selectedMeasurement)="onSelectedMeasurement($event)"
                    (selectedMeasurement2)="onSelectedMeasurement2($event)">
    </app-chart-menu>
  </div>

}
