
<div class="row">
  <div class="col1">
    <app-chart-menu [devices]="devices"
                    [measurements]="measTypes"

                    (selectedDevice)="onSelectedDevice($event)"
                    (measDate)="onMeasDate($event)"
                    (selectedMeasurement)="onSelectedMeasurement($event)"
                    (selectedMeasurement2)="onSelectedMeasurement2($event)">
    </app-chart-menu>
  </div>

  <div class="col2">
    <app-time-chart [chartData]="chartData">
    </app-time-chart>
  </div>

  <div class="col3">
    <app-chart-legend [chartData]="chartData">
    </app-chart-legend>
  </div>
</div>
