<div class="row" *ngIf="!isMobileView; else mobileTimeChart">
  <div class="col1">
    <app-chart-menu
      [showDeviceSelect]="false"
      [showMeasurement2Select]="false"
      [measurements]="measTypes"
      (measDate)="onMeasDate($event)"
      (selectedMeasurement)="onSelectedMeasurement($event)">
    </app-chart-menu>
  </div>

  <div class="col2">
    <app-time-chart [chartData]="chartData">
    </app-time-chart>
  </div>

  <div class="col3">
    <app-chart-legend [chartData]="chartData">
    </app-chart-legend>
  </div>
</div>

<ng-template #mobileTimeChart>

  <div class="singlecol">
    <app-time-chart [chartData]="chartData">
    </app-time-chart>
  </div>

  <div class="singlecol">
    <app-chart-legend [chartData]="chartData">
    </app-chart-legend>
  </div>

  <span class="singlecol">
    <app-chart-menu
      [showDeviceSelect]="false"
      [showMeasurement2Select]="false"
      [measurements]="measTypes"
      (measDate)="onMeasDate($event)"
      (selectedMeasurement)="onSelectedMeasurement($event)">
    </app-chart-menu>
  </span>

</ng-template>
